<!doctype html>
<html>
  <head>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap/css/bootstrap.css">
    {% if title %}
    <title>{{ title }} - vacances</title>
    {% else %}
    <title>Vacances</title>
    {% endif %}
  </head>
  <body>
    <div>Projet vacances :
        <a href="/index">Home</a> |
        <a href="/login">Login</a> |
        <a href="/depot">Depot</a> |
        <a href="/prise">Prise</a> |
        <a href="/admission_vacances">Autorisations de vacances</a> |
        <a href="/historique_validation_vacances">Historique Validation</a> |
        <a href="/logout">Logout</a>

    </div>
    <hr>
    <div class="container-fluid">
		{% block content %}{% endblock %}
    </div>



  </body>
</html>
