{% extends "base.html" %}
{% block content %}
<h4>{{msg}}</h4>
{% if l %}
<table>

    <tr>
        <th>Nom </th>
        <th>Prénom </th>
        <th>Nombre de jours  </th>
        <th> Date début </th>
        <th> Date fin </th>
        <th> Validation </th>
    </tr>
        {% for i in l %}
            <tr>

                <td> {{ models.User.query.filter_by(user_id=i.user_id).first().nom }} </td>

                <td> {{ models.User.query.filter_by(user_id=i.user_id).first().prenom }} </td>

                <td> {{i.nb_jour }} </td>

                <td> {{ i.date_debut }}</td>

                <td> {{i.date_fin }}</td>

                <td>{% if models.Vacances.query.filter_by(vacances_id=i.vacances_id).first().status == 1 %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

</table>

{% endif %}


{% endblock %}