<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Se connecter</div>
			<div class="panel-body">
				<form action="" method="post" name="login" >
				{{ form.hidden_tag() }}
                    <p>
                        Login:<br>
                        {{ form.login(size=80) }}<br>
                    </p>
                    <p>
                        Password :<br>
                        {{ form.password(size=80) }}<br>
                        {% for error in form.login.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                    </p>
                    <p>{{ form.remember_me }} Remember Me</p>
                    <p><input type="submit" value="Sign In"></p>
				</form>
			</div>
		</div>	
	</div>
</div>
{% endblock %}
